/* --------------------------
  Nav Styles
--------------------------- */

.main-header,
.nav {
	display: flex;
	flex-direction: column;
}

.main-header {
	padding-top: 2em;
    padding-bottom: 2em;
}

.main-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: 1px solid turquoise;
}

.site-logo {
	width: auto;
	align-self: center;
}

.nav {
	margin-top: 1.5em;
}

#footer-nav {
	align-content: center;
}

.nav a {
	display: block;
	background-color: tomato;
	font-size: 1.125em;
	text-align: center;
	padding: .4em;
	margin: .2em;
}

.nav a:hover {
    transition: all 0.75s ease;
    color: lightblue;
    background-color: dimgray
}