/* --------------------------
  Media Queries
--------------------------- */

@media (min-width: 768px) {
    
    .main-header {
        display: flex;
        flex-direction: column;
	}
    
	.site-logo {
	}
    
	.nav {
		flex-direction: row;
		justify-content: center;
	}
    
	.nav a {
		border-bottom-color: transparent;
        margin-left: 2em;
        padding: .5em 1em;
	}
    
    .about {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    
    .container div {
        max-width: 49%;
    }
    
    .main-footer {
        padding: 0 1.5em 3em 0;
    }
    
    /* ---- Float clearfix ---- */
 
    .clearfix::after {
        content: " ";
        display: table;
        clear: both;
    }
    
    #header-tagline {
        padding: .75em;
        text-align: left;
    }
    
    #footer-nav {
        flex-direction: row;
		justify-content: space-between;
    }
    
    #btt {
        display: none; 
    }
    
    #home,
    #portfolio,
    #contact,
    #skills {
       display: block; 
    }
	
}

@media (min-width: 1024px) {
    .site-logo {
        padding: 1em;
    }
    
    .main-header {
        padding: 2em 2em 0 2em;
    }
    
    .about {
        padding: 0 2em 3em 2em;
    }
    
    
	.container {
		width: 1080px;
        padding: 3em;
	}
    
	.main-header,
	.main-footer {
		flex-direction: row;
	}
    
	.site-logo {
		margin-right: auto;
	}
    
	.nav {
		margin-top: 0;
		align-self: center;
        padding-right: 1.2em;
	}
    
	.nav a {
		border-bottom-color: transparent;
	}
    
    .main-footer {
        padding: 0 1.5em 1em 0;
    }
    
    #first,
    #third,
    #fifth,
    #seventh,
    #ninth,
    #eleventh {
		 width: 32.5%;

   	}
   
    #second,
    #fourth,
    #sixth,
    #eigth,
    #tenth,
    #twelveth {
        width: 32.5%;
    }
    
    #footer-tagline {
        max-width: 50%
    }
    
}