/* --------------------------
  Base Styles
--------------------------- */

@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

* {
  box-sizing: border-box; 
}

body {
  color: #797e83;
  font-size: 16px;
	margin: 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5; 
}

h1 {
	font-size: 1.6em;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none; 
}

a {
  color: #656a6e;
  text-decoration: none;
  font-weight: 400; 
}

img {
	max-width: 99%;
}

header,
footer {
	background-color: whitesmoke;
	width: 100%
}

#designer-name {
	font-size: 2em;
	padding: 0;
	margin: 0 0 20px 0;
}

#footer-designer-name {
	font-size: 1.125em;
	padding: 1em;
}

#profile-picture {
	max-width: 75%;
	margin: 3em auto 0;
}

.about,
.contact {
	text-align: center;
	font-size: 1.15em;
}

.contact {
	padding-top: .5em;
	padding-bottom: 3.5em;
	background-color: whitesmoke;
}

.portfolio-title {
	text-align: center;
	padding: 2em;
	font-size: 1.05em;
	font-weight: 800;
	color: #000;
}

.container {
	width: 90%;
	margin: auto;
}

.main-content {
	margin-top: 3.25em;
}

/* ---- Float clearfix ---- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}


/* --------------------------
  Portfolio Pieces
--------------------------- */

.project{
	text-align: center;
	padding-bottom: 30px;
}

.project p {
	font-size: 1.04em;
}