/* --------------------------
  Main Styles
--------------------------- */

.main-header,
.nav {
	display: flex;
	flex-direction: column;
}

.main-header {
	padding-top: 2em;
}

.main-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: 1px solid #000;
}

.site-logo {
	width: auto;
	align-self: center;
}

.nav {
	margin-top: 1.5em;
}

#footer-nav {
	align-content: center;
}

.nav a {
	display: block;
	color: #797e83;
	background-color: tomato;
	font-size: 1.125em;
	font-weight: 300;
	text-align: center;
	padding: .4em;
	margin: .2em;
	border-bottom: 1px solid #ebecec;
}

.nav a:hover {
	color: #0b0b0b;
	border-bottom-color: #52bab3;
}